<!-- <p class="intro"><span class="oversize">Hi!</span>My name is Mandi and I'm a data-driven, backend software developer with experience in .NET, Java, and Ruby on Rails!</p> 

<div class="clear"></div>-->
<!-- <div class="intro">
<p><span class="oversize">Hi!</span>  
	<span class="large">My name is Mandi and I'm an Software Engineer!</span>  I specialize professionally in back-end development and enjoy front-end development in my free time. When I'm not working on a development project, I enjoy writing about technology, career development, and women's issues.</p>
</div> -->
<!-- <h2>Check out what I've been writing:</h2> -->
<div class="articles">

	<% @articles.each do |art| %>
		<div class="art-card">
			<div class="art-img-split">
				<a href="<%=art.link%>" class="art-link">
					<%= image_tag art.image_url, class: "art-img" %>
				</a>
			</div>
			<div class="art-body-split">
				<a href="<%=art.link%>" class="art-link">
					<p class="art-title"><%= art.title %></p>
				</a>
				<p class="art-date"><%= art.pub_date %></p>
				<p class="art-body"><%= art.body %></p>
				<a href="<%=art.link%>" class="art-link">
					<p class="read-more">Read more!</p>
				</a>
			</div>
		</div>
	<% end %>
</div>
<div>