<div class="header">
	<%= image_tag "header-img-sq", alt: "Mandi's profile image", class: "header-img" %>
	<h1>Mandi Gunningham</h1>
	<div class="nav">
		<ul class="navbar">
			<li><%= link_to "Home", "#" %></li>
			<li><%= link_to "About", "#" %></li>
			<li><%= link_to "Resume", "#" %></li>
			<li><%= link_to "Projects", "#" %></li>
			<li><%= link_to "Contact Me!", "#" %></li>
		</ul>
	</div>
</div>
<div class="clear"></div>