<div class="header">
	<%= image_tag "header-img-sq-sm", alt: "Mandi's profile image", class: "header-img" %>
	<h1>Mandi Gunningham</h1>
	<div class="nav">
		<ul class="navbar">
			<li><%= link_to "Home", portfolio_home_path %></li>
			<li><%= link_to "About", portfolio_about_path %></li>
			<li><%= link_to "Resume", portfolio_resume_path %></li>
			<li><%= link_to "Projects", portfolio_projects_path %></li>
			<li><%= link_to "Contact Me!", portfolio_contact_path %></li>
		</ul>
	</div>
</div>
<div class="clear"></div>