<div class="left-menu">
	<ul>
		<li><%= image_tag "LI-In-Bug", alt: "LinkedIn logo", class: "sm-logo linkedin" %></li>
		<li><%= image_tag "glyph_ig_logo", alt: "Instagram logo", class: "sm-logo ig" %></li>
		<li><%= image_tag "dev-black", alt: "DEV.to logo", class: "sm-logo"  %></li>
		<li><%= image_tag "monogram/Monogram", alt: "Medium logo", class: "sm-logo" %></li>
		<li><%= image_tag "GitHub-Mark-64px", alt: "Github logo", class: "sm-logo" %></li>
	</ul>
</div>